*{
	margin: 0;
	padding: 0;
}

                                       /*这是头部的第一个模块*/
/*设置第一个行内的相对定位*/
.one_tou{
	margin-bottom:0.5rem;
	border-bottom:2px solid #ccc;
}
.one_a:hover{
	color:#0f0;
	text-decoration: none;
}
.one_img{
	width: 1.8rem;
	animation-duration:3s;
}
.one_tou div ul li a:hover{color:#0ff;text-decoration:none;}

                                 /*这是头部的第二个模块*/
/*设置第二行的属性*/
.two_img{
	animation-duration:5s;
}
.header_ul{
	font-size:1.2rem;
}
.two_input{
	height:2.1rem;
}
.two_span{
	font-size:1.7rem;
}
.header_ul li a{
	font-family:"幼圆","宋体","华文行楷";
	text-decoration: none;
}
.two_first{
	color:#0f0;
}
.header_ul li a:hover{
	font-size:1.1rem;
	color:#f0f;
}
	/*轮播部分*/
.carousel-indicators li{
	width:8px;
	height:8px;border-radius:50%;
	background-color: #fff;
	margin-left:10px;
	cursor:pointer;
}
.carousel-indicators .active{
	background-color:#0aa1ed;
}
.three_a{
	width:1.8rem;
	height:5rem;
	background-color:#aaa;
	top:40%;
	border-radius:0.25rem;
}
@media screen and (min-width:992px){
	.carousel-indicators li{
		width: 10px;
		height: 10px;
	}
}
@media screen and (max-width:767px){
	.carousel-indicators li{
		width: 8px;
		height: 8px;
		margin-left:5px;
	}
}
/*以上为导航部分*/
/*导航下面的表格部分*/
.body_table,.body_table1{
	border-radius:0.5rem;
}
.body_table{
	/*background-image:linear-gradient(to right,#09dfd5 0%,#11cfed 50%,#7aff00 100%);*/
	background:#b8daff;
}
.body_table1{
	 /*background-image:linear-gradient(to right,#ff3b00 0%,#edd211 50%,#ff00b1 100%);*/
	background: #d8fdf6;
 }
.body_table a:hover{
	color:#f0f;
	text-decoration:none;
	font-size:1.1rem;
}
.body_table1 a:hover{
	color:#0f0;
	text-decoration:none;
	font-size:1.1rem;
}
#demo>div div img{cursor:pointer;}
/*以上为表格部分*/
/*推荐栏部分*/
.breadcrumb-item + .breadcrumb-item::before{
	content:" | ";
}
.body_nav h6{
	margin-right:2rem;
	margin-top:0.2rem;
}
.body_nav li a:hover{
	text-decoration: none;
	color:#ff0 !important;
}
    /*结束推荐栏*/
    /*开始中流砥柱*/
.body_nav_bottom div p{
	font-family:"华文行楷","幼圆";
	font-size:1.5rem;
	margin-left:2rem;
}
.body_nav_bottom div p:hover{
	color:#f0d;
}
.body_nav_bottom img{
	transition:transform 1s;
	animation-duration:5s;
}
.body_nav_bottom img:hover{
	transform:scale(1.1);
}


    /*中部战区之上部分*/
.center_top{
	box-shadow:-9px 1px 14px 18px #72fff2;
}
.center_top2{
	box-shadow:9px 1px 14px 18px #AF5;
}
.center_top p{
	font-size:1.8rem;
	color: #4528ff;
	font-family:"方正舒体", "微软雅黑",  "方正姚体";
	padding:0.5rem 0 0 2rem;
}
.center_top span{
	font-size:1.5rem;
	margin-left:1rem;
}
.center_top ul li a{
	width: 12rem;
	display:inline-block;
	font-size:1.2rem;
	font-family:"微软雅黑","方正舒体","方正姚体";
	color: #f21390;
	margin-left:1rem;
	text-shadow:2px 1px 5px #F20EA8;
}
.center_top ul li a:hover{text-decoration: none;color:#0ff;}
.center_top{
	/*background-image:linear-gradient(135deg,#e83e8c 20%,#009fff 40%,#00ff7d 60%,#fffa00 80%,#f00 100%);*/
	background: #ededed;
	border-radius:10px;
}
    /*中部战区之下部分*/
.center_bottom{
	box-shadow:-9px 1px 14px 18px #fcff1e;
}
.center_bottom2{
	box-shadow:9px 1px 14px 18px #ff630d;
}
.center_bottom p{
	font-size:1.8rem;
	color: #ff28fc;
	font-family:"方正舒体", "微软雅黑",  "方正姚体";
	padding:0.5rem 0 0 2rem;
}
.center_bottom span{
	font-size:1.5rem;
	margin-left:1rem;
}
.center_bottom ul li a{
	width: 12rem;
	display:inline-block;
	font-size:1.2rem;
	font-family:"微软雅黑","方正舒体","方正姚体";
	color: #31d0f2;
	margin-left:1rem;
	text-shadow:2px 1px 5px #F20EA8;
}
.center_bottom ul li a:hover{text-decoration: none;color:#f0d;}
.center_bottom{
	/*background-image:linear-gradient(45deg,#ddd 20%,#009fff 40%,#00ff7d 60%,#fffa00 80%,#6f42c1 100%);*/
	background:#fff;
	border-radius:10px;
}
    /*updown下部分*/
.updown div h4{
	border-bottom:2px solid #ddd;
}
.updown div img{
	transition:transform 1s;
}
.updown div img:hover{
	transform:scale(1.1);
}
.updown div a{
	color:#aaa;
}
.updown div a:hover{
	color:#111;
	text-decoration: none;
}

    /*updown_bottom下部分*/
.updown_bottom{
	border-bottom:2px solid #ddd;
	border-top:2px solid #66fff8;
}
.updown_bottom>div+div{
	border-left:1px solid #fffa00;
}
.updown_bottom img{
	transition:transform 1s;
	margin-top:1rem;
}
.updown_bottom img:hover{
	transform:scale(1.2);
}
.updown_bottom a{
	color:#aaa;
	text-align:center;
}
.updown_bottom a:hover{
	text-decoration: none;
	color:#000;
}
.updown_bottom a:focus{
	color:#f00;
}
	/*这是最后的底部*/
table{
	width:100%;
}
.th1{
	width:41%;
}
.th2{width:13%;}
td{height:3rem;color:#9e9e9e;}
/*这里是末尾的版本信息*/
div p.foot1{
	width:100%;height:3rem;
	background:#0f0;text-align:center;
}
div p.foot1+p.foot1{
	margin-top:-1rem;
}
