*{
    margin: 0;
    padding: 0;
}
.mukuai2 div span{
    color:#fff;
}
.mukuai2 img{transition:transform 1s;}
.mukuai2 img:hover{transform:scale(1.1);}
.mukuai3,.mukuai4,.mukuai5{
    background:#0f0;
    padding-left:1rem;
    color: #f231f2;
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
}
.mukuai4{color: #ffe319;}
.mukuai5{color: #f00;}
.mukuai3>img,.mukuai4>img,.mukuai5>img{
    width: 1.3rem;
    animation-duration:5s;
}

.mukuai3_1 p,.mukuai3_2 p,.mukuai3_3 p{
    text-align:center;
    color:#aaa;
}
.mukuai3_1 div>img{ animation-duration:5s;}
.mukuai3_2>div>img{
    animation-duration:5s;
}

.mukuai3_3 div>img{ animation-duration:5s;}
.mukuai44_1 p{background:#f00;color:#fff;border-radius:0.5rem;}
.mukuai44 img{
    border-radius:0.8rem;
    cursor:pointer;
    transition:transform 1s;
}
.mukuai44 img:hover{transform: scale(1.1);}
.mukuai44{
    border-bottom-style: solid;
    color:#aaa;
    padding-bottom:2rem;
}




	/*这是�?后的底部*/
    table{
        width:100%;
    }
    .th1{
        width:41%;
    }
    .th2{width:13%;}
    td{height:3rem;color:#9e9e9e;}
    /*这里是末尾的版本信息*/
    div p.foot1{
        width:100%;height:3rem;
        background:#0f0;text-align:center;
    }
    div p.foot1+p.foot1{
        margin-top:-1rem;
    }
    